

html{
    overflow-x: hidden;
}
hr {
    background: #edeef2;
    display: block;
    clear: both;
    overflow: hidden;
    width: 100%;


}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;

}
.container-fluid1{
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.blog-content {
    margin-bottom: 50px;
}
.media-body .mt-0 {
    text-transform: uppercase;
    font-weight: 800;
    color: #4d4f56;
    margin-bottom: 0px;
}
.media-body .mt-1 {
    color:#9ca2b8;
    font-weight: 700;
    margin-top: 0px;

}
.blog-content {
    margin-top: 68px;
    margin-left: 80px;

}

.blog-title1
{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 66px;
    margin-bottom: 40px;
    color: #2e3038;
    height: 100%;

}



.blog-title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 62px;
    margin-bottom: 40px;
    color: #2e3038;
    height: 100%;

}

.blog-subtitle {

    font-family: Muli;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8b92ab;
    margin-bottom: 30px;
}

.button {
    border-radius: 35px;
    border: 1px solid #06aaca;
    padding: 18px 50px;
    text-decoration: none;
    color: #06aaca;
    transition: 0.4s;
    font-size: 24px;
    width: 180.1px;
    height: 100%;
    max-height: 70px;

}
.button:hover {
    text-decoration: none;
    transition: 0.4s;
    background: #06aaca;
    color: #fff;
}

.footer {
    background: url("../images/pozadina.png") 49% center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0 !important;
    position: relative;
    width: 100%;
    margin-top: 65.5px;
}

.footer_left {
    visibility: hidden;
    transform: translateY(30%);
    transition: all .4s ease;
}

.footer_right {
    visibility: hidden;
    transform: translateX(30%);
    transition: all .7s ease;
}

.footer_container {
    padding: 20px;
}


.footer_text {
    text-align: center;
    color: #ffffff;
    padding-bottom: 6px;
    font-family: Muli;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
}
.djevojcica{
    position: absolute;
    left: 0;
    bottom: 0;
}
.djecak img, .djevojcica img{
    height: 280px;
}
.djecak{
    position: absolute;
    right: 0;
    bottom: 0;
}

.djevojcica img {
    overflow: hidden !important
}
.footer {
    background: url("../images/Pozadina.png") 49% center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0 !important;
    position: relative;
    width: 100%;
}

.footer_left {
    visibility: hidden;
    transform: translateY(30%);
    transition: all .4s ease;
}

.footer_right {
    visibility: hidden;
    transform: translateX(30%);
    transition: all .7s ease;
}

.footer_container {
    padding: 20px 0;
}

.footer_text {
    text-align: center;
    color: #ffffff;
    padding-bottom: 6px;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

#linijaFooter {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.33);;
}

.djevojcica {
    position: absolute;
    left: 0;
    bottom: 0;
}

.djecak {
    position: absolute;
    right: 0;
    bottom: 0;
}

.djecak img {
    height: 351px;
}

.djevojcica img {
    height: 351px;
    overflow: hidden !important;
}

.fb{
    text-align: end;
}
.insta{
    text-align: start;
}

@media only screen and (max-width: 576px) {

    .blog-title1{
        font-size: 30px;
    }

    .blog-title{
        font-size: 30px;
    }

    .blog-subtitle{
        font-size: 13px;
    }
    .button{
        font-size: 11px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .card-title{
        font-size: 30px;
    }

    .navbar-nav {
        height: auto;
        padding-top: unset;
    }

    .navbar-nav li{
        margin-left: unset;
    }

    .djevojcica img {
        height: 150px;
    }

    .djecak img {
        height: 150px;
    }



    .fb{
        text-align: end;
        padding-right: 15px;
    }
    .insta{
        text-align: start;
    }
}

@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {

    .card-title{
        font-size: 30px;
    }

    .navbar-nav {
        height: auto;
        padding-top: unset;
    }

    .navbar-nav li{
        margin-left: unset;
    }

    .djevojcica img {
        height: 200px;
    }

    .djecak img {
        height: 200px;
    }

    .fb{
        text-align: end;
    }
    .insta{
        text-align: start;
    }
}

@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
    .fb{
        text-align: end;
    }
    .insta{
        text-align: start;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 992px) {
    .fb{
        text-align: end;
    }
    .insta{
        text-align: start;
    }
}


